<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>El Politico - See the World and all of its colors!</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'content/css/estilopolitico.css' %}">


    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/bootjs/bootstrap.js' %}"></script>
</head>

<body>

</body>
</html>