<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>El Politico - Test</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'content/css/estilopolitico.css' %}">


    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/bootjs/bootstrap.js' %}"></script>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo1twK-Cb-Mb1q7YCK1HaLFBCLb6BWwrc&libraries=visualization&sensor=true_or_false">
</script>

<script>
    // "Constants"
    var MAX_NODES_PER_HEAT_LAYER = 500;
    var partyStrings = ["green","liberal","conservative","libertarian"];
    var heatmapNodes = "new_points";
    var currentDate = new Date();

    //General variables
    var syncTime = currentDate.getTime(); //Time since epoch, starting at the moment the page loads

    // Heatmap variables
    var greenHeat = [];
    var liberalHeat =[];
    var conservativeHeat = [];
    var libertarianHeat =[];
    var heatmapCentral = { "green": greenHeat, "liberal": liberalHeat, "conservative": conservativeHeat, "libertarian": libertarianHeat};

    //Toggles the highlight on the buttons
    function highlight(element){
        if($(element).hasClass("active")){
            $(element).removeClass("active");
        }
        else{
            $(element).addClass("active");
        }
    }

    //Acts as a general AJAX function for receiving data on Party Status
    function consultPartyInfo(partyString){
        console.log("Beggining AJAX");
        $.ajax({ //Ask if we can save this schedule
            type: 'get',
            url: "/get_status/"+partyString, //+Green,conservative,......
            data:{},
            success: function (data) {
                console.log(data.valueOf());
                var processedData = jQuery.parseJSON(data.valueOf());

                //Now pass it off to updateParty()
                updateParty(processedData);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404 || xhr.status == 400) {
                    $("#save_progress").modal('hide');
                    alert(thrownError);
                    console.log("ERROR!");
                }
            }
        });
    }

    //check on the heatmap nodes and update them accordingly
    function checkMapNodes(){
        console.log("Beggining AJAX");
        $.ajax({ //Ask if we can save this schedule
            type: 'get',
            url: "/get_status/new_points/",
            data:{},
            success: function (data) {
                console.log(data.valueOf());
                var processedData = jQuery.parseJSON(data.valueOf());
                var updateTime = processedData.get("UpdateTime");

                if(syncTime - updateTime < 0){ //In this case, client NEEDS to update
                    updateHeatmaps(processedData.get('newPoints'));
                    syncTime = updateTime;
                }

            },
            error: function(xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404 || xhr.status == 400) {
                    $("#save_progress").modal('hide');
                    alert(thrownError);
                    console.log("ERROR!");
                }
            }
        });
    }


    function periodicUpdate(){
        //First, check map nodes
        checkMapNodes();

        //Then, update the corresponding party info
        for(var i=0; i<partyStrings.length; i++){
            consultPartyInfo(partyStrings[i]);
        }

        //and now, remind myself of calling this method again after 1 second.
        setTimeout("periodicUpdate()",1000);
    }

    //updates the party specific data shown in the small blocks below.
    function updateParty(data){
        var selector = '#'+data.get("party")+'_list';
        $(selector).find('#percent-total').html('<a>'+data.get("percentTotal")+'</a>');
        $(selector).find('#certainty').html('<a>'+data.get("certainty")+'</a>');
        $(selector).find('#positivity').html('<a>'+data.get("positivity")+'</a>');
    }

    //Add new heatmap nodes to their corresponding parts
    function updateHeatmaps(nodeData){ //TODO: Double Check!
        var partyVariable = "party";

        for(var i =0; i<nodeData.length; i++){
            var lat = nodeData.get("lat");
            var long = nodeData.get("long");
            heatmapCentral.get(nodeData.get(partyVariable)).append(new google.maps.LatLng(lat, long))
        }
    }

    function initialize() {
        var heatmapData = [
          new google.maps.LatLng(37.782, -122.447),
          new google.maps.LatLng(37.782, -122.445),
          new google.maps.LatLng(37.782, -122.443),
          new google.maps.LatLng(37.782, -122.441),
          new google.maps.LatLng(37.782, -122.439),
          new google.maps.LatLng(37.782, -122.437),
          new google.maps.LatLng(37.782, -122.435),
          new google.maps.LatLng(37.785, -122.447),
          new google.maps.LatLng(37.785, -122.445),
          new google.maps.LatLng(37.785, -122.443),
          new google.maps.LatLng(37.785, -122.441),
          new google.maps.LatLng(37.785, -122.439),
          new google.maps.LatLng(37.785, -122.437),
          new google.maps.LatLng(37.785, -122.435)
        ];

        //Coordinates to center the map correctly
        var worldCenter = new google.maps.LatLng(21.809308, 16.437686);

        //Setup the map (look at API for constructor)
        var map = new google.maps.Map(document.getElementById('map'), {
            center: worldCenter,
            zoom: 2,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        //Make a new Heatmap Layer
        var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapData
        });

        var waterlooHeat = [
                new google.maps.LatLng(43.461549, -80.472324),
                new google.maps.LatLng(43.461549, -80.472326),
                new google.maps.LatLng(43.461549, -80.472328),
                new google.maps.LatLng(43.461547, -80.472324),
                new google.maps.LatLng(43.461545, -80.472324),
                new google.maps.LatLng(43.461543, -80.472324),
                new google.maps.LatLng(43.461549, -80.472324),
                new google.maps.LatLng(43.461549, -80.472326),
                new google.maps.LatLng(43.461549, -80.472328),
                new google.maps.LatLng(43.461547, -80.472324),
                new google.maps.LatLng(43.461545, -80.472324),
                new google.maps.LatLng(43.461543, -80.472324)
        ];

        var heatmapCan = new google.maps.visualization.HeatmapLayer({
            data: waterlooHeat
        });

        heatmapCan.setMap(map);
        heatmap.setMap(map);
    }

    //Initialize the map
    //CALL ONLY on Document load anr/or ready!
    google.maps.event.addDomListener(window, 'load', initialize);


</script>

</head>
<body>



<!--This is the Navbar-->
<nav class="navbar navbar-fixed-top navbar-inverse container" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-inner">
            <ul class="nav nav-pills">
                <li><a>El Político</a></li> <!-- INSERT COOL LOGO HERE! -->
                 <li class="divider-vertical"></li>

                <li><a>Map Influence Sources:</a></li>
                <li class="btn-small active" onclick="highlight(this)">
                    <a data-toggle="buttons" title="Show/Hide well-renowned news media outlets">
                    News Media
                    </a>
                </li>
                <li class="btn-small active" onclick="highlight(this)">
                    <a title="Show/Hide Twitter Feed">
                    Twitter User Feed
                    </a>
                </li>
                <li class="btn-small">
                    <a title="To Be Implemented">
                    Instagram Posts
                    </a>
                </li>

                <li class="divider-vertical"></li>
                <li><a href="/">About</a></li> <!-- TODO: link to new template-->

            </ul>
        </div>

    </div>

</nav>
<!-- /.navbar -->


<!-- Start of actual body content-->
<div class="container-fluid body-content">

    <!-- Only element should be the map in here...-->
    <div class="row">
        <div id="map" class="" style="margin-top: 0px;  position: absolute; width: 100%; height: 100%;"></div>
    </div>

    <div class="navbar navbar-fixed-bottom navbar-inverse">
        <div class="navbar-inner" style="margin: 0 auto; display: table; table-layout: fixed; float:none;">
            <div style="background: #cccccc"><span><br></span></div>
            <ul class="nav nav-pills">

                <li class="info pull-right">
                    <p>Statistics Recorded</p>
                    <ul class="pull-right unstyled">
                        <li>Percentage Total</li>
                        <li>Avg. Certainty</li>
                        <li>Positivity</li>
                    </ul>
                </li>

                <li>
                    <p class="btn-small active ecogreen">Green Party</p>
                    <ul class="text-center unstyled" id="green_list">
                        <li id="percent-total"><a>[NaN]</a></li>
                        <li id="certainty"><a>[NaN]</a></li>
                        <li id="positivity"><a>[NaN]</a></li>
                    </ul>
                </li>
                <li>
                    <p class="btn-small active liberal">Liberal Party</p>
                    <ul class="text-center unstyled" id="liberal_list">
                        <li id="percent-total"><a>[NaN]</a></li>
                        <li id="certainty"><a>[NaN]</a></li>
                        <li id="positivity"><a>[NaN]</a></li>
                    </ul>
                </li>
                <li>
                    <p class="btn-small active conservador">Conservativism</p>
                    <ul class="text-center unstyled" id="conservative_list">
                        <li id="percent-total"><a>[NaN]</a></li>
                        <li id="certainty"><a>[NaN]</a></li>
                        <li id="positivity"><a>[NaN]</a></li>
                    </ul>
                </li>
                <li>
                    <p class="btn-small derecha">Libertarianism</p>
                    <ul class="text-center unstyled" id="libertarian_list">
                        <li id="percent-total"><a>[NaN]</a></li>
                        <li id="certainty"><a>[NaN]</a></li>
                        <li id="positivity"><a>[NaN]</a></li>
                    </ul>
                </li>
            </ul>
            <p></p>
        </div>
    </div>


</div>

</body>
</html>